@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}


.hide-modal {
  background-color: white;
  transition: 0.4s;
  position: absolute;
  left: calc(50% - 150px);
  top: calc(50% - 150px);
  z-index: 1;
  opacity: 0;
  visibility: hidden;
}

.show-modal {
  width: 300px;
  height: 300px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  transition: 0.4s;
  opacity: 1;
  position: absolute;
  left: calc(50% - 174px);
  top: calc(50% - 174px);
  visibility: visible;
  z-index: 1;
  background-color: white;
  box-shadow: 0px 0px 1px 1000px rgba(255, 255, 255, 0.3);
}